html {

    font-size: 16px;
}


h1 {
    color:red !important;
    background-color: beige;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}

footer {
    color: black !important;
    background-color:beige;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
}

header {
    background-color: beige !important;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: outset 3px;
}

.carrito {
    margin-left: auto;
    margin-right: 2%;
}

.contador {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.logo_moneda {
    margin-right: 10px;
    margin-left: 10px;
}

.tienda { 
    list-style-type: none;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr); 
    gap: 100px; 
    max-width: 600px; 
    margin-left: 50px;

}

nav ul {
    height: auto;
    margin-right: 3%;

}

a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: beige;
}

#comodines_index {
    font-size: 25px;
}
h2 {
    font-size: 50px;
    width: 100%;
    height: 50%;
    font-family: 'Times New Roman', Times, serif;
}

iframe {
    text-align: left;
}

h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: beige;
}

#formulario {
    text-align: left;
    font-size: 25px;
}

.certificado {
    text-align: left;
    font-size: 15px;
}

.pagina {
    color: black;
}

.movimiento {
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: transform 1s ease-in-out;
}
    

.movimiento:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transform: scale(1.2);
}

button {
  background-color: #28a745;       
  color: white;                    
  padding: 12px 24px;              
  font-size: 16px;
  font-weight: bold;
  border: none;                    
  border-radius: 8px;              
  cursor: pointer;                 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}

button:hover {
  background-color: #218838;       
  transform: scale(1.05);          
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#vaciar {
  background-color: red;       
  color: white;                    
  padding: 12px 24px;              
  font-size: 16px;
  font-weight: bold;
  border: none;                    
  border-radius: 8px;              
  cursor: pointer;                 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}

#vaciar:hover {
  background-color: red;       
  transform: scale(1.05);          
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
